body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Kies een mooie, moderne font */
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .animate-gradient-move {
    animation: gradient-move 6s ease-in-out infinite;
  }
  
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-gradient-to-r {
    background: linear-gradient(to right, #ec4899, #8b5cf6, #6366f1);
    background-size: 200% 200%;
  }
  